/* Main Strcucture of HTML */
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 18px;
  background-color: #FFF;
  color: #052D49;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}
body {
  min-height: 100%;
  position: relative;
}
main {
  padding: 10px 20px 20px 20px;
  padding-bottom: 60px;   /* Height of the footer */
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;   /* Height of the footer */
  background: rgb(243,244,245);
  text-align: center;
  clear: both;
  margin-top: -60px;
}


/* Universally Apply to elements */
a {
  color: rgb(0, 150, 209);
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
}

/* divs, classes, etc. in order */
.intro {
  text-align: center;
  font-size: 1.25em;
  max-width: 800px;
  margin: 0 auto;
}

.uri {
  max-width: 600px;
  margin: 0 auto;
}

.uri-value {
  padding: 10px 6px;
  font-size: 0.9em;
  width: 20.7em;
  letter-spacing: -0.4px;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.copy-btn {
  display: inline-block;
  margin: 10px auto;
}

.examples{
  max-width: 600px;
  margin: 0 auto;
}

.code-box {
  background-color: rgb(243,244,245);
  border-radius: 5px;
  overflow-x: auto;
  margin: 30px 0;
}

.request-btn {
  display: block;
  margin: 0 auto;
}

.btn{
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  padding: 10px 16px;
  border: none;
  outline: none;
  background-color: #052D49;
  color: rgb(243,244,245);
  box-shadow: -4px 3px rgb(0, 118, 165);
  transform: scale(1.01) translateX(4px) translateY(-3px);
  cursor: pointer;
  transition: 0.4s ease;
}

.btn:active {
  transition: 0.2s ease;
  transform: none;
  box-shadow: none;
}

.response {
  color: rgb(243,244,245);
}

.credit {
  max-width: 500px;
  margin: 150px auto 0 auto;
  font-size: 0.9em;
  text-align: center;
}

.footer-text {
  font-size: 0.8em;
  padding-top: 20px;
  text-align: center;
}

.show {
  transition: 0.3s;
  color: #052D49;
}

@media (max-width: 400px) { 
  
}